<!doctype html>
<html ng-app="ngApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>תמיר פומרנץ</title>
    <meta name="description" content="מעצב מוצר ומפתח WEB">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=no">

    <!-- OG data -->
    <meta property="og:url" content="tamirp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Untitled Angular App" />
    <meta property="og:site_name" content="Untitled Angular App" />
    <meta property="og:description" content="Untitled Angular App" />
    <meta property="og:image" content="" />
    <meta property="og:image:url" content="" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />

    <!-- favicons -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔧</text></svg>">


    <!-- Reset css -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <!-- material font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body id="top" ng-controller="index">

    <div id="page" ng-class="{'page-preload':(!isPageLoaded)}">
        <div class="wrap-out">
        <div class="wrap">

            <div ng-repeat="line in lines">
                <h1 ng-if="line.class == 'h1'">{{line.text}}</h1>
                <h2 ng-if="line.class == 'h2'">{{line.text}}</h2>
                <h3 ng-if="line.class == 'p'">{{line.text}}</h3>
                <div class="list-title bold" ng-if="line.class == 'h3'"> <div class="list-line-icon">{{line.icon}}</div>{{line.text}}</div>
                <div class="social-block" ng-if="line.class == 'social'"> 
                   <a class="chip" href="mailto:tamirp@gmail.com">מייל</a>
                   <a class="chip" href="https://www.linkedin.com/in/tamir-pomerantz-4044a3152/">לינקדאין</a>
                   <a class="chip" href="https://www.instagram.com/tamirpo/">אינסטוש</a>
                </div>

                <div class="list-line" ng-if="line.class == 'a'">
                    <div class="list-line-icon">🔗</div>
                    <a href="{{line.link}}" target="_blank" class="list-line-text">{{line.text}}</a>
                </div>


              
            </div>
           




    </div>


        </div> 
    </div>

    <!--Vendor: AngularJS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-animate.js"></script>

    <!--App file-->
    <script src="js/app.js"></script>




</body>

</html>